@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Game;
@{
}

<h3 class="display-3"> Enter info of a 2024 RPG</h3>

<form asp-action="Edit" method="Post">
    <div class="container">
        <div class="row">
            <div class="col">
                <label asp-for="Name">Name</label><input type="text" class="form-control" asp-for="Name" placeholder="Enter Game Name" />
            </div>
            <div class="col">
                <label asp-for="ReleaseDate">Release Date</label><input type="text" class="form-control" asp-for="ReleaseDate" placeholder="Enter Month and Day" />
            </div>
        </div>
        <div class="row">
            <div class="col">    
                <label asp-for="Developer">Developer</label><input type="text" class="form-control" asp-for="Developer" placeholder="Enter Developer" />
            </div>
            <div class="col">
                <label asp-for="MetaCritic">MetaCritic</label><input type="number" class="form-control" asp-for="MetaCritic" placeholder="Enter Metacritic score" />
            </div>
        </div>
    </div>
    <br/>
    <button class="btn btn-primary" type="submit">Submit</button>
 </form>

