@model List<Game>
    @{
        ViewData["Title"] = "Home Page";
    }

    <table>
        @foreach (Game g in Model)
        {
            <tr>
                <td>@g.Name</td>
                <td>@g.ReleaseDate</td>
                <td>@g.Developer</td>
                <td>@g.MetaCritic</td>
            </tr>
        }
    </table>
    <br />
